.characters {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    grid-row: auto;
    article {
        border-radius: 6px;
        background: beige;
        padding: 1rem;
        img {
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            border: 3px solid white;
            object-fit: cover;
        }
        h3 {
            margin: 0.5rem 0;
        }
        p {
            margin: 0.5rem 0;
        }
    }
}